$h-tamano: 36px;
$col-tamano: 8.33333%;

$tiny: 10px !important;
$small: small !important;
$medium: medium !important;
$large: large !important;
$xlarge: x-large !important;
$xxlarge: xx-large !important;
$xxxlarge: 48px !important;
$jumbo: 64px !important;

$padding16: 16px !important;
$padding24: 24px !important;
$padding32: 32px !important;
$padding48: 48px !important;
$padding64: 64px !important;

/*color*/
$negro: #000 !important;
$blanco: #fff !important;
/*background color*/
$amarillo: #ffc107 !important;
$azul: #00ffff !important;
$mar: #2196f3 !important;
$claro:  #87ceeb !important;
