@use 'variables';
@use 'mixins';

/*
* DIW: Parte 1: 
* Usar una variable para establecer el valor inicial de h1 
* Crear los siguientes h restando 6px a cada uno.
* Utilizar un bucle para crear los h de forma automática
*/

@for $i from 1 to 7 {
    h#{$i}{
        @if $i==1 {
            font-size: variables.$h-tamano;
        } @else {
            font-size: variables.$h-tamano  - 6*$i +6;
        }
    }
}

/*
* DIW: FIN Parte 1. 
*/

/*
* DIW: Parte 2: 
* Usar anidamientos de la forma más optima posible
*/
.w3-table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  display: table;
  td{
    padding: 8px 8px;
    display: table-cell;
    text-align: left;
    vertical-align: top;

    &:first-child{
      padding-left: 16px;
    }
  }

  th{
    padding: 8px 8px;
    display: table-cell;
    text-align: left;
    vertical-align: top;

    &:first-child{
      padding-left: 16px;
    }
  }
}

.w3-table-all{
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  display: table;
  border: 1px solid #ccc;

  tr{
    border-bottom: 1px solid #ddd;

    &:nth-child(odd){
      background-color: #fff;
    }

    &:nth-child(even){
      background-color: #f1f1f1;
    }
  }
}

.w3-bordered {
  tr{
    border-bottom: 1px solid #ddd;
  }
}

.w3-striped {
  tbody{
    tr{
      &:nth-child(even){
        background-color: #f1f1f1; 
      }
    }
  }
}

.w3-hoverable{
  tbody{
    tr{
      &:hover{
        background-color: #ccc;
      }
    }
  }
}

.w3-ul.w3-hoverable{
  li{
    &:hover{
      background-color: #ccc;
    }
  }
}

.w3-centered{
  tr{
    th{
      text-align: center;
    }
    td{
      text-align: center;
    }
  }
}
/*
* DIW: DIW: FIN Parte 2. 
*/

/*
* DIW: Parte 3: 
* Usar una variable para establecer el valor inicial de s1 
* Crear los siguientes h restando multiplicando por 2 cada uno.
* Utilizar un bucle para crear los s1 de forma automática
*/
@for $i from 1 to 13 {
  .w3-col.s#{$i}{
      @if $i==1 {
        width: variables.$col-tamano;
      } @else {
          font-size: variables.$col-tamano * 2 * $i /2;
      }
  }
}

/*
* DIW: DIW: FIN Parte 3. 
*/