@charset "UTF-8";
/*
* DIW: Parte 1: 
* Usar una variable para establecer el valor inicial de h1 
* Crear los siguientes h restando 6px a cada uno.
* Utilizar un bucle para crear los h de forma automática
*/
h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 12px;
}

h6 {
  font-size: 6px;
}

/*
* DIW: FIN Parte 1. 
*/
/*
* DIW: Parte 2: 
* Usar anidamientos de la forma más optima posible
*/
.w3-table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  display: table;
}
.w3-table td {
  padding: 8px 8px;
  display: table-cell;
  text-align: left;
  vertical-align: top;
}
.w3-table td:first-child {
  padding-left: 16px;
}
.w3-table th {
  padding: 8px 8px;
  display: table-cell;
  text-align: left;
  vertical-align: top;
}
.w3-table th:first-child {
  padding-left: 16px;
}

.w3-table-all {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  display: table;
  border: 1px solid #ccc;
}
.w3-table-all tr {
  border-bottom: 1px solid #ddd;
}
.w3-table-all tr:nth-child(odd) {
  background-color: #fff;
}
.w3-table-all tr:nth-child(even) {
  background-color: #f1f1f1;
}

.w3-bordered tr {
  border-bottom: 1px solid #ddd;
}

.w3-striped tbody tr:nth-child(even) {
  background-color: #f1f1f1;
}

.w3-hoverable tbody tr:hover {
  background-color: #ccc;
}

.w3-ul.w3-hoverable li:hover {
  background-color: #ccc;
}

.w3-centered tr th {
  text-align: center;
}
.w3-centered tr td {
  text-align: center;
}

/*
* DIW: DIW: FIN Parte 2. 
*/
/*
* DIW: Parte 3: 
* Usar una variable para establecer el valor inicial de s1 
* Crear los siguientes h restando multiplicando por 2 cada uno.
* Utilizar un bucle para crear los s1 de forma automática
*/
.w3-col.s1 {
  width: 8.33333%;
}

.w3-col.s2 {
  font-size: 16.66666%;
}

.w3-col.s3 {
  font-size: 24.99999%;
}

.w3-col.s4 {
  font-size: 33.33332%;
}

.w3-col.s5 {
  font-size: 41.66665%;
}

.w3-col.s6 {
  font-size: 49.99998%;
}

.w3-col.s7 {
  font-size: 58.33331%;
}

.w3-col.s8 {
  font-size: 66.66664%;
}

.w3-col.s9 {
  font-size: 74.99997%;
}

.w3-col.s10 {
  font-size: 83.3333%;
}

.w3-col.s11 {
  font-size: 91.66663%;
}

.w3-col.s12 {
  font-size: 99.99996%;
}

/*
* DIW: DIW: FIN Parte 3. 
*/
/*
* DIW: Parte 4: 
* Usar bucles y variables para autocalcular valores dinámicos
* Usar anidamiento.
*  
*/
@media (min-width: 601px) {
  .w3-col.m1 {
    width: 8.33333%;
  }
  .w3-col.m2 {
    font-size: 16.66666%;
  }
  .w3-col.m3 {
    font-size: 24.99999%;
  }
  .w3-quarter {
    font-size: 24.99999%;
  }
  .w3-col.m4 {
    font-size: 33.33332%;
  }
  .w3-quarter {
    font-size: 33.33332%;
  }
  .w3-col.m5 {
    font-size: 41.66665%;
  }
  .w3-col.m6 {
    font-size: 49.99998%;
  }
  .w3-half {
    font-size: 49.99998%;
  }
  .w3-col.m7 {
    font-size: 58.33331%;
  }
  .w3-col.m8 {
    font-size: 66.66664%;
  }
  .w3-twothird {
    font-size: 66.66664%;
  }
  .w3-col.m9 {
    font-size: 74.99997%;
  }
  .w3-threequarter {
    font-size: 74.99997%;
  }
  .w3-col.m10 {
    font-size: 83.3333%;
  }
  .w3-col.m11 {
    font-size: 91.66663%;
  }
  .w3-col.m12 {
    font-size: 99.99996%;
  }
}
@media (min-width: 993px) {
  .w3-col.l1 {
    width: 8.33333%;
  }
  .w3-col.l2 {
    font-size: 16.66666%;
  }
  .w3-col.l3 {
    font-size: 24.99999%;
  }
  .w3-col.l4 {
    font-size: 33.33332%;
  }
  .w3-col.l5 {
    font-size: 41.66665%;
  }
  .w3-col.l6 {
    font-size: 49.99998%;
  }
  .w3-col.l7 {
    font-size: 58.33331%;
  }
  .w3-col.l8 {
    font-size: 66.66664%;
  }
  .w3-col.l9 {
    font-size: 74.99997%;
  }
  .w3-col.l10 {
    font-size: 83.3333%;
  }
  .w3-col.l11 {
    font-size: 91.66663%;
  }
  .w3-col.l12 {
    font-size: 99.99996%;
  }
}
/*
* DIW: DIW: FIN Parte 4. 
*/
/*
* DIW: Parte 6: 
* Crea una clase que se llame .w3-display con position: absolute y con @extend crea una especialización de cada una de las siguientes
* Utiliza un mixin para no repetir left:0 y top:0 en todos los display donde sea requerido.
*/
.w3-display, .w3-display-bottommiddle, .w3-display-topmiddle, .w3-display-right, .w3-display-left, .w3-display-middle, .w3-display-bottomright, .w3-display-bottomleft, .w3-display-topright, .w3-display-topleft {
  position: absolute;
}

.w3-display-topleft {
  top: 0;
  left: 0;
}

.w3-display-topright {
  right: 0;
  top: 0;
}

.w3-display-bottomleft {
  left: 0;
  bottom: 0;
}

.w3-display-bottomright {
  right: 0;
  bottom: 0;
}

.w3-display-middle {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.w3-display-left {
  top: 50%;
  left: 0%;
  transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
}

.w3-display-right {
  top: 50%;
  right: 0%;
  transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
}

.w3-display-topmiddle {
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
}

.w3-display-bottommiddle {
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
}

/*
* DIW: Fin parte 6
*/
/*
* DIW: Parte 7: 
* Utilizar anidamiento para el .w3-animate
*/
.w3-animate-fading {
  -webkit-animation: fading 10s infinite;
          animation: fading 10s infinite;
}
.w3-animate-opacity {
  -webkit-animation: opac 0.8s;
          animation: opac 0.8s;
}
.w3-animate-top {
  position: relative;
  -webkit-animation: animatetop 0.4s;
          animation: animatetop 0.4s;
}
.w3-animate-left {
  position: relative;
  -webkit-animation: animateleft 0.4s;
          animation: animateleft 0.4s;
}
.w3-animate-right {
  position: relative;
  -webkit-animation: animateright 0.4s;
          animation: animateright 0.4s;
}
.w3-animate-bottom {
  position: relative;
  -webkit-animation: animatebottom 0.4s;
          animation: animatebottom 0.4s;
}
.w3-animate-zoom {
  -webkit-animation: animatezoom 0.6s;
          animation: animatezoom 0.6s;
}
.w3-animate-input {
  transition: width 0.4s ease-in-out;
}
.w3-animate-input :focus {
  width: 100% !important;
}

@-webkit-keyframes fading {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fading {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes opac {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes opac {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@-webkit-keyframes animateleft {
  from {
    left: -300px;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}
@keyframes animateleft {
  from {
    left: -300px;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}
@-webkit-keyframes animateright {
  from {
    right: -300px;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}
@keyframes animateright {
  from {
    right: -300px;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}
@-webkit-keyframes animatebottom {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
@keyframes animatebottom {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
@-webkit-keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
/*
* DIW: Fin de la Parte 7
*/
/*
* DIW: Parte 8: 
* Utilizar variables para ir incrementando de forma dinámica el font-size
*/
.w3-tiny {
  font-size: 10px !important;
}
.w3-small {
  font-size: small !important;
}
.w3-medium {
  font-size: medium !important;
}
.w3-large {
  font-size: large !important;
}
.w3-xlarge {
  font-size: x-large !important;
}
.w3-xxlarge {
  font-size: xx-large !important;
}
.w3-xxxlarge {
  font-size: 48px !important;
}
.w3-jumbo {
  font-size: 64px !important;
}

/*
* DIW: Fin Parte 8 
*/
/*
* DIW: Parte 9: 
* Utilizar un mixin con los elementos repetidos entre todos los border 
* para que no se repita el código
*/
.w3-border {
  border: 1px solid #ccc !important;
}

.w3-border-top {
  border-top: 1px solid #ccc !important;
}

.w3-border-bottom {
  border-bottom: 1px solid #ccc !important;
}

.w3-border-left {
  border-left: 1px solid #ccc !important;
}

.w3-border-right {
  border-right: 1px solid #ccc !important;
}

.w3-topbar {
  border-top: 6px solid #ccc !important;
}

.w3-bottombar {
  border-bottom: 6px solid #ccc !important;
}

.w3-leftbar {
  border-left: 6px solid #ccc !important;
}

.w3-rightbar {
  border-right: 6px solid #ccc !important;
}

/*
* DIW: Final Parte 9 
*//*# sourceMappingURL=styles.css.map */