body{
    margin: 0;
    display: grid;
    grid-template-columns: 4fr 2fr;
    background-color: rgb(230, 230, 230);
}

header {
    grid-column: 1/3;
    grid-row: 1;
    text-align: center;
}

#logo{
    margin-top: 1%;
    margin-bottom: 1%;
    width: 15%;
}

.principal{
    background-color: rgb(55, 70, 170);
}


nav {
    display: flex;
    justify-content: center;
    grid-column: 1/3;
    grid-row: 2;
    background-color: rgb(127, 139, 192);
    color: rgb(18, 42, 109);
}

li{
    list-style: none;
}

ul{
    width: 100%;
    display: flex;
    justify-content:center;
}

li:nth-of-type(4),li:first-child{
    margin-left: auto;
}

article {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
    background-color: aliceblue;
}

section {
    display: flex;
    grid-column: 1/2;
    grid-row: 3;
    flex-direction: column;
}


.div{
    display: flex;
    align-items: center;
    flex-direction: column;
    grid-column: 2/3;
    grid-row: 3;
    border-color: yellow;
    border-width: 2px;
    border-style: solid; 
}


aside{
    width: 300px;
    height: 100%;
    border-color: aqua;
    border-width: 2px;
    border-style: solid; 
}



footer{
    grid-column: 1/3;
    grid-row: 4;
    height: 100%;
}


@media screen and (min-width: 376px) and (max-width: 666px) {

    section {
        grid-column: 1 / 3;
        grid-row: 3;
        padding: 1%;
    }

    .div {
        grid-column: 1 / 3;
        grid-row: 4;
        padding: 1%;
    }

    footer {
        grid-column: 1 / 3;
        grid-row: 5;
        padding: 1%;
    }
    
}
