body{
    margin: 0;
    display: grid;
    grid-template-rows: 12% 8% 65%;
    min-height: 100vh;
    grid-gap: 10px;
}

header {
    grid-column: 1/13;
    grid-row: 1;
    border-color: green;
    border-width: 2px;
    border-style: solid;
}

nav {
    grid-column: 1/13;
    grid-row: 2;
    border-color: violet;
    border-width: 2px;
    border-style: solid;
}

article {
    display: grid;
    grid-gap: 10px;
    grid-column: 1/10;
    
    grid-row: 3;
    border-color:aqua;
    border-width: 2px;
    border-style: solid;
}

section {
    grid-row: 2;
    grid-column: 1/13;
    border-color:violet;
    border-width: 2px;
    border-style: solid;
}


section:nth-last-child(2){
    grid-row: 3;
}

section:nth-last-child(3){
    grid-row: 4;
}





#div{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    grid-column: 10/13;
    grid-row: 3;
    border-color: yellow;
    border-width: 2px;
    border-style: solid; 
}


aside{
    flex: 1 10px;
    border-color: aqua;
    border-width: 2px;
    border-style: solid; 
}




footer{
    grid-column: 1/13;
    grid-row: 4;
    grid-template-rows: 10px;
    border-color: yellow;
    border-width: 2px;
    border-style: solid; 
}




